.controls {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  position: fixed;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  background-color: #35363e;
  padding: 1em 1em;
  border-radius: 40px;

  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  z-index: 5000;
}

.add_btn {
  background-color: rgba(107, 107, 107, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.add_btn:hover {
  height: 45px;
  width: 45px;
}

.color {
  background-color: grey;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  cursor: pointer;
  transition: 0.3s;
}

.color:hover {
  height: 45px;
  width: 45px;
}

@media (max-width: 480px) {
  .controls {
    flex-direction: row;
    left: 50%;
    bottom: 1rem;
    top: unset;
    transform: translateX(-50%);
  }
}
